$types: (
  bug: var(--type-bug-background) var(--type-bug-border),
  dark: var(--type-dark-background) var(--type-dark-border),
  dragon: var(--type-dragon-background) var(--type-dragon-border),
  electric: var(--type-electric-background) var(--type-electric-border),
  fairy: var(--type-fairy-background) var(--type-fairy-border),
  fighting: var(--type-fighting-background) var(--type-fighting-border),
  fire: var(--type-fire-background) var(--type-fire-border),
  flying: var(--type-flying-background) var(--type-flying-border),
  ghost: var(--type-ghost-background) var(--type-ghost-border),
  grass: var(--type-grass-background) var(--type-grass-border),
  ground: var(--type-ground-background) var(--type-ground-border),
  ice: var(--type-ice-background) var(--type-ice-border),
  normal: var(--type-normal-background) var(--type-normal-border),
  poison: var(--type-poison-background) var(--type-poison-border),
  psychic: var(--type-psychic-background) var(--type-psychic-border),
  rock: var(--type-rock-background) var(--type-rock-border),
  steel: var(--type-steel-background) var(--type-steel-border),
  water: var(--type-water-background) var(--type-water-border),
);

.pokemonCard {
  height: 100%;
  border: 5px solid var(--background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

@each $type1, $list1 in $types {
  $backgroundColor1: nth($list1, 1);
  $borderColor1: nth($list1, 2);

  @each $type2, $list2 in $types {
    $backgroundColor2: nth($list2, 1);
    $borderColor2: nth($list2, 2);
    .type-#{$type1}--#{$type2} {
      border: 5px solid $borderColor1;

      .top {
        background: linear-gradient(180deg, $backgroundColor2, $backgroundColor1);
      }

      .bottom {
        background-color: $borderColor1;
      }
    }
  }

  .type-#{$type1} {
    border: 5px solid $borderColor1;
    .top {
      background-color: $backgroundColor1;
    }

    .bottom {
      background-color: $borderColor1;
    }
  }
}

.top {
  width: 100%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--type-normal-background);
  color: var(--text-color);
  padding: 1rem 0;

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-color);
  }
  
  .name {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  position: relative;
  
  .types {
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
  }
  
  .abilities {
    width: 100%;
    font-size: 1rem;
    gap: 8px;
    
    .ability {
      text-align: left;
      margin-top: 8px;
      font-size: 14px;
    }
  }
}
