@use '@/styles/sizes';

.container {
  aspect-ratio: 1 / 1;

  padding: 0 1rem;

  @media (max-width: sizes.$tablet) {
    section {
      max-width: 400px;
    }
  }
}

.title {
  font-size: 1.5rem;
  text-align: center;
}