  $primary: #FF032C;
  $secondary: #f3f3f3;
  $accent: #FFCC01;
  $background: #E1E1E1;
  $secondary-background: #c9c9c9;
  $text: #0d0d0d;
  $highlight: #1E90FF;
  $error: #FFA500;

  /* Normal Type */
  $type-normal: #A8A77A;
  $type-normal-background: #bbbbbb;
  $type-normal-border: #6D6D4E;
  
  /* Fire Type */
  $type-fire: #EE8130;
  $type-fire-background: #FF9C54;
  $type-fire-border: #9C531F;

  /* Water Type */
  $type-water: #6390F0;
  $type-water-background: #8eabeb;
  $type-water-border: #445E9C;

  /* Electric Type */
  $type-electric: #F7D02C;
  $type-electric-background: #f0d37b;
  $type-electric-border: #A1871F;

  /* Grass Type */
  $type-grass: #7AC74C;
  $type-grass-background: #8BBE8A;
  $type-grass-border: #4E8234;
  
  /* Ice Type */
  $type-ice: #96D9D6;
  $type-ice-background: #89C4C0;
  $type-ice-border: #638D8D;

  /* Fighting Type */
  $type-fighting: #C22E28;
  $type-fighting-background: #b46864;
  $type-fighting-border: #7D1F1A;

  /* Poison Type */
  $type-poison: #A33EA1;
  $type-poison-background: #b888ce;
  $type-poison-border: #682A68;

  /* Ground Type */
  $type-ground: #D97746;
  $type-ground-background: #d39475;
  $type-ground-border: #927D44;

  /* Flying Type */
  $type-flying: #A98FF3;
  $type-flying-background: #8FA8DD;
  $type-flying-border: #6D5E9C;

  /* Psychic Type */
  $type-psychic: #F95587;
  $type-psychic-background: #f8a0ba;
  $type-psychic-border: #A13959;

  /* Bug Type */
  $type-bug: #A6B91A;
  $type-bug-background: #a3a784;
  $type-bug-border: #6D7815;

  /* Rock Type */
  $type-rock: #B6A136;
  $type-rock-background: #CDBE7A;
  $type-rock-border: #786824;

  /* Ghost Type */
  $type-ghost: #735797;
  $type-ghost-background: #846AB6;
  $type-ghost-border: #493963;

  /* Dragon Type */
  $type-dragon: #6450f8;
  $type-dragon-background: #8A7BFA;
  $type-dragon-border: #4924A1;

  /* Dark Type */
  $type-dark: #705746;
  $type-dark-background: #746A5A;
  $type-dark-border: #49392F;

  /* Steel Type */
  $type-steel: #B7B7CE;
  $type-steel-background: #B8B8D0;
  $type-steel-border: #787887;

  /* Fairy Type */
  $type-fairy: #D685AD;
  $type-fairy-background: #EE99AC;
  $type-fairy-border: #9B6470;