@use './_colors';

$types: (
  bug: colors.$type-bug colors.$type-bug-background colors.$type-bug-border,
  dark: colors.$type-dark colors.$type-dark-background colors.$type-dark-border,
  dragon: colors.$type-dragon colors.$type-dragon-background colors.$type-dragon-border,
  electric: colors.$type-electric colors.$type-electric-background colors.$type-electric-border,
  fairy: colors.$type-fairy colors.$type-fairy-background colors.$type-fairy-border,
  fighting: colors.$type-fighting colors.$type-fighting-background colors.$type-fighting-border,
  fire: colors.$type-fire colors.$type-fire-background colors.$type-fire-border,
  flying: colors.$type-flying colors.$type-flying-background colors.$type-flying-border,
  ghost: colors.$type-ghost colors.$type-ghost-background colors.$type-ghost-border,
  grass: colors.$type-grass colors.$type-grass-background colors.$type-grass-border,
  ground: colors.$type-ground colors.$type-ground-background colors.$type-ground-border,
  ice: colors.$type-ice colors.$type-ice-background colors.$type-ice-border,
  normal: colors.$type-normal colors.$type-normal-background colors.$type-normal-border,
  poison: colors.$type-poison colors.$type-poison-background colors.$type-poison-border,
  psychic: colors.$type-psychic colors.$type-psychic-background colors.$type-psychic-border,
  rock: colors.$type-rock colors.$type-rock-background colors.$type-rock-border,
  steel: colors.$type-steel colors.$type-steel-background colors.$type-steel-border,
  water: colors.$type-water colors.$type-water-background colors.$type-water-border,
);
