@use 'sass:list';
@use '@/styles/_variables';
@use '@/styles/_colors';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  table {
    width: 100%;
  }
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.normal {
  background-color: colors.$type-normal-background;
  border: 2px solid colors.$type-normal-border;
  box-shadow: -4px 4px 1px 0px colors.$type-normal;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: none;
  }
}

.double,
.immune,
.half{
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: none;
  }
}

.double {
  background-color: colors.$type-fighting-background;
  border: 2px solid colors.$type-fighting-border;
  box-shadow: -4px 4px 1px 0px colors.$type-fighting;
}

.immune {
  background-color: colors.$type-ghost-background;
  border: 2px solid colors.$type-ghost-border;
  box-shadow: -4px 4px 1px 0px colors.$type-ghost;
}

.half {
  background-color: colors.$type-bug-background;
  border: 2px solid colors.$type-bug-border;
  box-shadow: -4px 4px 1px 0px colors.$type-bug;
}

.td {
  padding: .75rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}

.types {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  sub {
    font-size: 12px;
    font-weight: 600;
  }
}