@property --light-blue-color-1 {
  syntax: '<color>';
  initial-value: #e6fdfa;
  inherits: false;
}

@property --light-blue-color-2 {
  syntax: '<color>';
  initial-value: #88fffe;
  inherits: false;
}

@property --light-blue-color-3 {
  syntax: '<color>';
  initial-value: #88fffe;
  inherits: false;
}

@property --light-blue-color-4 {
  syntax: '<color>';
  initial-value: #88fffe;
  inherits: false;
}

@property --light-blue-color-5 {
  syntax: '<color>';
  initial-value: #05d5d3;
  inherits: false;
}

@property --light-blue-color-6 {
  syntax: '<color>';
  initial-value: #05d5d3;
  inherits: false;
}

@property --light-blue-color-7 {
  syntax: '<color>';
  initial-value: #8cfffd;
  inherits: false;
}

@property --light-blue-color-8 {
  syntax: '<color>';
  initial-value: #c4ffff;
  inherits: false;
}

@property --light-blue-color-9 {
  syntax: '<color>';
  initial-value: #43e7e5;
  inherits: false;
}

@property --light-blue-color-10 {
  syntax: '<color>';
  initial-value: #c4ffff;
  inherits: false;
}

@property --light-blue-color-11 {
  syntax: '<color>';
  initial-value: #8afffd;
  inherits: false;
}

@property --light-blue-color-12 {
  syntax: '<color>';
  initial-value: #c4ffff;
  inherits: false;
}
@property --light-blue-color-13 {
  syntax: '<color>';
  initial-value: #8cfffd;
  inherits: false;
}

@property --light-blue-color-14 {
  syntax: '<color>';
  initial-value: #37f5f6;
  inherits: false;
}

@property --light-blue-color-15 {
  syntax: '<color>';
  initial-value: #8cfffd;
  inherits: false;
}

@property --light-blue-color-16 {
  syntax: '<color>';
  initial-value: #37f5f6;
  inherits: false;
}

@property --light-blue-color-17 {
  syntax: '<color>';
  initial-value: #8cfffd;
  inherits: false;
}

@property --light-blue-color-18 {
  syntax: '<color>';
  initial-value: #43e7e5;
  inherits: false;
}

@property --light-blue-color-19 {
  syntax: '<color>';
  initial-value: #8cfffd;
  inherits: false;
}

///////////////////
///
@property --light-blue-percentage-2 {
  syntax: '<percentage>';
  initial-value: 10%;
  inherits: false;
}

@property --light-blue-percentage-3 {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: false;
}

@property --light-blue-percentage-4 {
  syntax: '<percentage>';
  initial-value: 90%;
  inherits: false;
}

@property --light-blue-percentage-5 {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

@property --light-blue-percentage-6 {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

@property --light-blue-percentage-8 {
  syntax: '<percentage>';
  initial-value: 22%;
  inherits: false;
}

@property --light-blue-percentage-9 {
  syntax: '<percentage>';
  initial-value: 26%;
  inherits: false;
}

@property --light-blue-percentage-10 {
  syntax: '<percentage>';
  initial-value: 33%;
  inherits: false;
}

@property --light-blue-percentage-11 {
  syntax: '<percentage>';
  initial-value: 40%;
  inherits: false;
}

@property --light-blue-percentage-12 {
  syntax: '<percentage>';
  initial-value: 47%;
  inherits: false;
}
@property --light-blue-percentage-13 {
  syntax: '<percentage>';
  initial-value: 54%;
  inherits: false;
}

@property --light-blue-percentage-14 {
  syntax: '<percentage>';
  initial-value: 61%;
  inherits: false;
}

@property --light-blue-percentage-15 {
  syntax: '<percentage>';
  initial-value: 69%;
  inherits: false;
}

@property --light-blue-percentage-16 {
  syntax: '<percentage>';
  initial-value: 77%;
  inherits: false;
}

@property --light-blue-percentage-17 {
  syntax: '<percentage>';
  initial-value: 85%;
  inherits: false;
}

@property --light-blue-percentage-18 {
  syntax: '<percentage>';
  initial-value: 93%;
  inherits: false;
}

@property --light-blue-percentage-19 {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}
