:root {
  --primary-color: #FF032C; /* Red - Represents the iconic color of the Pokedex */
  --secondary-color: #f3f3f3; /* White - For text and background elements */
  --accent-color: #FFCC01; /* Yellow - For highlights and important buttons */
  --background-color: #E1E1E1; /* Light Gray - For the main background */
  --secondary-background-color: #c9c9c9; /* Dark Gray - For secondary text */
  --text-color: #0d0d0d; /* Black - For primary text */
  --highlight-color: #1E90FF; /* Blue - For links and interactive elements */
  --error-color: #FFA500; /* Orange - For error messages and warnings */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background-color);
  font-family: 'Raleway', sans-serif;
}

main {
  max-width: 100vh;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Press Start 2P', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}