:root {
  --primary-color: #FF032C; /* Red - Represents the iconic color of the Pokedex */
  --secondary-color: #f3f3f3; /* White - For text and background elements */
  --accent-color: #FFCC01; /* Yellow - For highlights and important buttons */
  --background-color: #E1E1E1; /* Light Gray - For the main background */
  --text-color: #0d0d0d; /* Black - For primary text */
  --secondary-text-color: #333333; /* Dark Gray - For secondary text */
  --highlight-color: #1E90FF; /* Blue - For links and interactive elements */
  --error-color: #FFA500; /* Orange - For error messages and warnings */

  --type-normal: #A8A77A;
  --type-fire: #EE8130;
  --type-water: #6390F0;
  --type-electric: #F7D02C;
  --type-grass: #7AC74C;
  --type-ice: #96D9D6;
  --type-fighting: #C22E28;
  --type-poison: #A33EA1;
  --type-ground: #E2BF65;
  --type-flying: #A98FF3;
  --type-psychic: #F95587;
  --type-bug: #A6B91A;
  --type-rock: #B6A136;
  --type-ghost: #735797;
  --type-dragon: #6F35FC;
  --type-dark: #705746;
  --type-steel: #B7B7CE;
  --type-fairy: #D685AD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: var(--background-color);
}

main {
  max-width: 100vh;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--highlight-color);
}