@use '@/styles/_colors';

.header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$primary;
  width: 100%;
  min-height: 100px;
}

.header h1 {
  background-color: colors.$primary;
  color: colors.$accent;
  font-size: 3rem;
  margin: 0;
}