@use 'sass:list';
@import '@/styles/_variables.scss';

.image {
  border-radius: 100%;
  max-width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@each $type1, $list1 in $types {
  .#{$type1} {
    background: radial-gradient(
      list.nth($list1, 2),
      list.nth($list1, 1),
      list.nth($list1, 3)
    );

    border: 8px solid $secondary;
  }

  @each $type2, $list2 in $types {
    .#{$type1}-#{$type2} {
      background: radial-gradient(
        list.nth($list1, 2),
        list.nth($list1, 1),
        list.nth($list1, 3)
      );

      border: 8px solid list.nth($list2, 2);
    }
    
  }
}